# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
.next/
build/

# Env files
.env
.env.local
*.env

# Prisma
server/prisma/migrations/

# Uploads
server/uploads/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Local env — not to be overwritten by git reset
server/.env
